.row.header-row
  .col-xs-2
    = image_tag @organization.image.url(:small), class: "profile-image"
  .col-xs-10
    .vertical-center.full-height
      %h1= @organization.preferred_name

.row
  .col-md-6.organization-list
    %h2 Sales
    %ul
      - @sales.each do |sale|
        %li
          .row
            .col-sm-6
              = link_to sale.name, sale
            .col-sm-6.gray
              = sale.start_date
      - if current_organization == @organization
        %li
          = link_to "Create new sale", new_sale_path

  .col-md-6.organization-list
    %h2 Members
    %ul
      - @users.each do |user|
        %li
          .row
            .col-sm-6
              = user.name
            .col-sm-6.gray
              Position
      - if current_organization == @organization
        %li
          = link_to "Invite new users", "#"