.row.header-row
  .col-xs-2
    = image_tag @sale.preferred_image.url(:small), class: "profile-image"
  .col-xs-10
    .vertical-center.full-height
      %h1= @sale.name

.row.item-search
  .col-xs-12
    .input-group
      %input.form-control{ type: "text", placeholder: "Search" }
      %span.input-group-btn
        %button.btn.btn-default{ type: "button" }
          Search

.row.sale-items
  - @sale.items.each do |item|
    .col-sm-6.col-lg-4
      = link_to(shopper_items_path(item_id: item.id, quantity: 1), method: :post, remote: true, class: "item-block") do
        .row.vertical-center
          .col-xs-8
            = item.name
          .col-xs-4.text-right
            = number_to_currency item.price

- if @item
  = render partial: 'sales/item_form'
  = render partial: 'sales/item_csv'