.row.header-row
  .col-xs-2
    = image_tag @sale.preferred_image.url(:small), class: "profile-image"
  .col-xs-10
    .vertical-center.full-height
      %h1= @sale.name

#item-search
  = render partial: 'sales/item_search_bar'

#item-filter
  = render partial: 'sales/item_filter'

#sale-items
  = render partial: 'sales/sale_items', locals: { items: @items, sale: @sale }

- if @item
  = render partial: 'sales/item_form'
  = render partial: 'sales/item_csv'

= javascript_include_tag 'item_search'