- if logged_in?
  Logged in to 
  = link_to "#{current_organization.preferred_name}", current_organization
  = "as #{current_user.name}"
  %br
  = link_to "Log out", logout_path, method: "delete"

- else
  = link_to "Log in", login_path
  %br
  = link_to "Sign up", signup_path
%br
%br

