%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Trash2treasure
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: body_class_name }
    .container
      - if !logged_in?
        = render partial: 'layouts/website_header'
      - else
        = render partial: 'layouts/header'
        
      - flash.each do |message_type, message|
        %div{class: "alert alert-#{message_type}"}
          = message
      = yield


